body {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
main {
    margin-top: 10vh;
    background-color: #242424aa;
    width: 260px;
    height: 400px;
    border-color: #ffffff33;
    border-width: 1px;
    border-style: inset solid;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 2px 5px #00000099;
}
header {
    /* height: 10px; */
    display: inline-flex;
    padding: 4px;
}

.red {
    background-color: #fc4646;
}
.yellow {
    background-color: #fdae24;
}
.green {
    background-color: #29c032;
}
.dot {
    width: 12px;
    height: 12px;;
    margin: 5px;
    border-radius: 100px;
}