body {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
main {
    margin-top: 10vh;
    background-color: #242424aa;
    width: 232px;
    height: 318px;
    border-color: #ffffff33;
    border-width: 1px;
    border-style: inset solid;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 2px 5px #00000099;
}
header {
    /* height: px; */
    display: inline-flex;
    padding: 3px;
}

.red {
    background-color: #ff5f57;
}
.yellow {
    background-color: #ffbb2e;
}
.green {
    background-color: #28c540;
}
.dot {
    width: 12px;
    height: 12px;
    margin: 4px;
    border-radius: 100px;
    color: #00000088;

}
.dot span {
    position: relative;
    font-size: 14px;
    bottom: 4px;
    left: 1.5px;
}
