<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main [ngClass]="{'noElectron' : !electron}">
    <header *ngIf="!electron" (mouseover)="changeText=true" (mouseout)="changeText=false">
      <div class="red dot"><span *ngIf="changeText">✕</span></div>
      <div class="yellow dot"><span *ngIf="changeText">–</span></div>
      <div class="green dot"><span *ngIf="changeText">+</span></div>
    </header>
    <div *ngIf="electron" style="-webkit-app-region: drag; height: 26px;"></div>
    <app-keypad>
    </app-keypad>
    
  </main>
</body>
</html>

