div {
    color: #ffffff;
    width: calc(100% - 20px);
    /* background-color: #1b1a25; */
    margin: 0px;
    height: 33px;
    padding: 10px;
    text-align: right;
    /* font-size: 50px; */
    font-weight: 100;
    position: relative;
}
span {
    position: absolute;
    bottom: 5px;
    right: 10px;
}